= t("email.create_proposal.intro")
\
= "#{t('email.create_proposal.view_proposal')}:"
= "#{discussion_url(@motion.discussion, proposal: @motion)}"
\
= "#{t(:proposal)}:"
= @motion.name
\
= "#{t(:group)}:"
= @motion.group.name
\
= "#{t(:author)}:"
= @motion.author.name
\
- if @motion.has_close_date?
  = "#{t('email.create_proposal.closes_in')}:"
  = time_ago_in_words(@motion.close_date) + " (" + @motion.close_date.localtime.strftime('%a %d %b %Y, %I:%M%p, %Z') + ")"
\
- if @motion.description.present?
  = "#{t(:details)}:"
  = @motion.description
\
= render 'user_mailer/unsubscribe_link_text'
